:root{
    --white: #FFFFFF;
    --sidebarBg:rgba(85, 74, 74, 0.788);
    --sidebarShadow:rgba(0, 0, 0, 0.1);
}

*{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.wrapper{
    background-image: url('./3.jpg');
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
}


#hamburgerIcon{
    background-color: transparent;
    color: var(--white);
    display: none;
    /* font-size: 30px; */
    left: 3.5%;
    position:absolute;
    top: 5px;
    z-index: 1;
    z-index: 3;
}

.background-wrapper video{
    height: 100%;
    object-fit: fill;
    position:absolute;
    width: 100%;
    z-index: 0;
}

.background-wrapper{
    flex-basis: 90%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transition: all 0.8s ease;
}

.sidebar{
    align-items: center;
    backdrop-filter: blur(7.4px);
    background: var(--sidebarBg);
    box-shadow: 0 4px 30px var(--sidebarShadow);
    display: flex;
    flex-basis: 10%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-around;
    transition: all 0.5s ease;
}

.toBeHidden{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    transition: all 0.5s ease;
}


i{
    background: transparent;
    display: block;
    margin-top: 50px;
}

@media only screen and (min-width: 769px){
    
    #hamburgerIcon{
        display: none;
    }
}

@media only screen and (max-width: 768px)
{
    
    #hamburgerIcon{
        display: block;
        left: 3.5%;
    }
}